* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Banner Section */
.global-msg {
  background: rgba(30, 36, 189, 0.644);
  line-height: 32px;
}

.container {
  width: 80%;
  margin: auto;
}

.global-content {
  display: flex;
  justify-content: space-between;
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Navbar section */
.nav-bar {
  background: rgb(79, 211, 178);
}
.nav-container {
  display: flex;
  justify-content: space-between;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li {
  margin-left: 16px;
}

.menu ul li:hover {
  cursor: pointer;
}

/* hero section  */
.hero {
  min-height: 80vh;
  background: url(travel.avif) no-repeat center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  color: white;
  width: 450px;
  background: rgb(68, 67, 67, 0.5);
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
}
